/* Body */


.tie:hover {
    /* background-color: #CED4DA; */
    background-color: #E9ECEF;
}


.striped .row.select-item:nth-child(odd) {
	/* background: #F4F4F4; */
	background:rgb(248, 249, 250);
}

.fiksa {
  position: sticky;
  top: 0px;
  /* top: 50px; */
  z-index: 2;
}

/* Matrix */

.matrix td.cmp {
    width: 1.8em;
    text-align: center;
    vertical-align: middle;
    cursor: default;
    /* background-color: #ffa; */
}

.matrix td.on {
    background-color: #bfb;
}

.matrix tr:hover td.on {
    background-color: #9f9;
}


.part th.selectable {
    background-color: #ffb;
    cursor: pointer;
}

.part input[type=checkbox] {
    cursor: pointer;
}

.part th.active {
    background-color: #ff5400;
}

.part thead th {
/* .matrix thead th { */
    text-align: center !important;
}


/* courses, matrix, ... */
.part td.cell, .part th.cell {
    width: 2.2em;
    vertical-align: middle;
}

.part td.long, .part th.long {
    width: 2.2em;
    /* width: 3em; */
}

.part .comp input[type=text] {
    width: 5em;
}



/* .content .part table {
    width: auto;
}

.part th.name-courses {
    width: 40em;
} */

.part th {
    background-color: #f4f4f4;
}

.part tr:hover {
    transition-duration: 100ms;
}

.part tr:hover td, .part tbody tr:hover th {
    background-color: #ffb;
}

.part tr:hover td.mr-green, .part tr:hover th.mr-green {
    background-color: #9f9 !important;
}

.part tr:hover td.mr-blue {
    background-color: #deb !important;
}

.part td, .part th {
    border: 1px solid #dbdbdb !important;
    /* border-width: 0 0 1px !important; */
    padding: .3em  !important;
    /* vertical-align: top !important; */
}

.part .comp td, .part .comp th {
    border-right: 0 !important;
    border-left: 0 !important;
}

.part .comp .flash {
    /* opacity: 0.5; */
    /* transition: all 500ms linear; */
    transition: all 1000ms ease;
    /* background-color: #ffc2cc !important; */
}

/* .part .comp tr.flash:hover {
    background-color: #ffc2cc !important;
} */

.content .part ul {
    list-style: none;
    margin-left: 0;
}

.content .part li {
    margin: 0 0 -1px 0;
}

label.nav-link {
    cursor: pointer;
}

/* a, .content a {
    text-decoration: none !important;
} */

body {
    line-height: 1.6 !important;
}

article a {
    color: crimson;
}

img.icons {
    height: 48px;
    /* width: 48px; */
}

.mr-btn {
    display: inline-block;
    /* font-size: 14px; */
    padding: 8px 12px;
    margin: 0 8px 0 0;
    border-radius: 3px;
}

html {
    overflow-x: visible !important;
}

.callout pre {
    background-color: inherit;
}

.fullsize, .fullsize-fix {
    max-width: 100% !important;
}

.hint {
  border-bottom: 1px dotted #aaa !important;
  cursor: help;
}

span.copy-button {
  cursor: pointer;
}

span.copy-button.act {
  opacity:0.5;
}

/* .coll { */
    /* display: none; */
    /* display: flex; */
/* } */

/* Редактирование */

.edit.textarea {
    height: 16em;
}

.courses .edit.textarea,
.matrix .edit.textarea,
.curriculum .edit.textarea {
    height: 48em;
}

.competencies .edit.textarea {
    height: 32em;
}

.mr-mh-16 {
    min-height: 16em !important;
}

.mr-mh-4 {
    min-height: 4.5em !important;
}

.mr-h-48 {
    height: 48em !important;
}




/* Цвета */

.mr-red {
    background-color: #ffc2cc !important;
}

.mr-yellow {
    background-color: #ffffb0 !important;
}

.mr-green {
    background-color: #bbffbb !important;
}

.mr-gray {
    background-color: #f4f4f4 !important;
}

.mr-blue {
    background-color: #ddeeff !important;
}

.mr-white {
    background-color: #FFFFFF !important;
}


/* Цвета 2 */

.mr-red-2 {
    /* background-color: #FF0066 !important; */
    background-color: #FF5050 !important;
}

.mr-yellow-2 {
    background-color: #FFFF00 !important;
}

.mr-green-2 {
    background-color: #00BB00 !important;
}

.mr-orange-2 {
    background-color: #FFCC00 !important;
}

.mr-blue-2 {
    background-color: #0099FF !important;
}

.mr-magenta-2 {
    background-color: #FF00FF !important;
}

.mr-gray-2 {
    background-color: #777777 !important;
}


/* table th {
    /* background: #f4f4f4; */
/*} */

/* a:hover, .content a:hover {
    color: #ff5400;
    transition: all 200ms linear;
} */


/* Каталог */

/* .logo {
    padding: 2ex;
    background-color: ;
} */

.catalog a {
    color: #5e81ac;
    text-decoration: none !important;
}

.cover {
    background-color: #2b5387;
}

.cover img {
    height: 40px;
    margin: 30px 5px;
}

.catalog img {
    max-width: none !important;
}

.logo img {
    height: 24px;
    margin: 0 3px;
}
/* 
.logo {
    background-color: #888;
} */
